@import '../styles/_colors.scss';
@import '../styles/responsive';
@import '../styles/globalSass';

.container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 100px auto auto auto;

    @include immediateDesktopShrink(){
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include singleCol(){
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 20px auto;
    }
}

.pic{
    grid-column: span 1 / span 1;
    @extend %center-text;

    @include singleCol(){
        margin: 20px;
    }
}

.text{
    margin: auto 20px auto auto;
    grid-column: span 2 / span 2;
    text-align: center;

    @include immediateDesktopShrink(){
        grid-column: span 1 / span 1;
    }

    @include singleCol(){
        margin: 20px;
    }
}

.number{
    font-weight: $bold-headings;
    font-size: 60px;
    color: $purple;

    @include headingShrink(){
        font-size: 50px;
    }

}

.oops{
    font-weight: $bold-text;
    font-size: 30px;

    @include immediateDesktopShrink(){
        margin: auto;
    }
}

.buttonText{
    font-weight: $bold-text;
    font-size: $title-font-size;
    margin-top: 40px;
}

.button {
    margin-top: 20px;
    @extend %center-text;
}

.btnLabel{
    font-size: $text-font-size;
    color: $heading-btn-text;
    padding: 10px
}


