.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 50px auto;
}

.pic{
    grid-column: span 1 / span 1;
    display: flex;
    justify-content: center;
}

.text{
    margin: auto 20px auto auto;
    grid-column: span 2 / span 2;
}

.number{
    font-weight: 500;
    font-size: 60px;
    color: #480096;
    text-align: center;
}

.oops{
    font-weight: 400;
    font-size: 30px;
   text-align: center;
}

.buttonText{
    font-weight: 400;
    font-size:20px;
    margin-top: 40px;
    text-align: center;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btnLabel{
    font-size: 20px;
    color: white;
    padding: 10px
}

@media (max-width:1200px) {
    .oops{
        font-size: 20px;
    }
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .text{
        grid-column: span 1 / span 1;
    }

}

@media (max-width:900px) {
    .number{
        font-size: 50px;
    }

}

@media (max-width:800px) {
    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin: 20px auto;
    }
    .pic{
        margin: 20px;
    }
    .text{
       margin: auto
    }

}


