@import '../styles/_colors.scss';
@import '../styles/_responsive.scss';
@import '../styles/globalSass';
@import '../styles/mixin';

.header {
    background-color: $purple;
    padding: 15px;
}

.navCol{
    margin: auto;
}

.headingTitle {
    color: $heading-btn-text;
}

.matchDetailsTitle{
    color: $heading-btn-text;
    @include header($font: $title-font-size);

    @include statsPanelToOneCol(){
        font-size: 22px;
    }
}

.loading{
    opacity: 0;
    transition: all 0.2s ease-in;
}

.a{
    color: $heading-btn-text;
}

.loaded{
    opacity: 1;
    transition: all 0.2s ease-in;
}