.btnContainer{
    vertical-align: center;
    padding:120px
}

.btnCol{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn {
    font-size: 30px;
}

.btnLabel{
    font-size: 30px;
    color: black;
}