@import "../../styles/mixin";

.container{
  height: 100vh;
  align-content: center;

}

.form{
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: auto;
  position: relative;
  background: #e8e8e8;
  top: 20%;
  border-radius: 25px;
}

.input{
  width: 50vh;
  margin: 20px 10px;
}

.button{
  display: flex;
  margin: 20px auto;
}

.text{
  text-align: center;
  margin: 20px;
  font-size: 2.3vh;
}