@import "../../styles/globalSass";

.label {
    font-size: $label-font-size;
    margin-right: 20px;
    font-weight: $bold-headings;
}

.radioLabel {
    font-size: $label-font-size;
    font-weight: 480;
    margin-top: 20px;
}

.title {
    font-size: $title-font-size;
    font-weight: $bold-headings;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form {
    margin-left: 30px;
}
