@import '../../styles/globalSass';
@import '../../styles/responsive';
@import "../../styles/mixin";

.panelTitle {
    width: 100%;
    @include header($font: 40px);
    margin-top: 40px;

    @include twoColPanel(){
        font-size: 30px;
    }
}

.panelRow {
    @include grid($width: 90%, $rows: 3);
    margin: 20px auto 0;

    @include twoColPanel(){
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 0;
        width: 100%;
    }
}

.btnCol {
    grid-column: span 2 / span 2;
}

.twoSingleBtn {
    grid-column: span 1 / span 1;
}

.undoOrViewCol {
    @extend %center-text;
    grid-column: span 1 / span 1;
}

.btnTitle {
    @extend %button-title;

    @include shrinkBtnFont(){
        font-size: $response-text-font-size;
    }
}

.undoOrViewCol {
    grid-column: span 3 / span 3;
    @extend %center-text;
}


.hiddenBtn {
    @include btn;
}

.wonLostBtnTitle {
    @extend %button-title;
    @include shrinkBtnFont(){
        font-size: $response-text-font-size;
    }
}

.panelBtn {
    @include btn($width: 100%, $height: 150px);

    @include twoColPanel(){
        width: 100%;
        height: 100px;
    }
}

.faultCol{
    grid-column: span 1 / span 1;
    @include twoColPanel(){
        grid-column: span 2/ span 2;
    }
}

.inCol {
    grid-column: span 3/ span 3;
    @include twoColPanel(){
        grid-column: span 2/ span 2;
    }
}

.wonLostBtn {
    @include btn($width: 100%, $height: 150px);
}

.undoOrView {
    @include btn($width: 50%, $height: 80px);
    margin-top: 60px;

    @include shrinkBtnFont(){
        width:100%;
    }
}

.undoOrView:hover {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
}
