.fullPage {
    background-color: #cccce0;
    width: 100%;
    padding-bottom: 20px;
}

.header {
    background-color: #480096;
    padding: 20px;
}

.headingTitle {
    padding-top: 10px;
    color: white;
}
