
.servingLocationPercentages {
    width: 100%;
    grid-column: span 1 / span 1;
}

.unreturnedRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 30px;
    margin: 20px auto 0;
}

.serveTable {
    grid-column: span 2/ span 2;
    width: 100%;
    border-right: solid 2px silver;
    padding: 0 20px;
    font-size: 18px;
    display: flex;
}

.percentRow {
    grid-column: span 1 / span 1;
    width: 100%;
}

.tableTotal {
    font-weight: 500;
}

.serveLocationHeading {
    font-size: 25px;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.pieChart {
    margin: 20px;
    padding: 0;
}

.pieChartHeading {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {

    .pieChartHeading {
        font-size: 22px;

    }

}

@media (max-width:1000px) {
    .unreturnedRow {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .serveTable {
        grid-column: span 1/ span 1;
    }
    .pieChartHeading {
        font-size: 25px;

    }
    .serveTable {
        font-size: 16px;
    }
}


    @media (max-width:800px) {
    .returnHeading {
        font-size: 20px;
    }
    .unreturnedRow {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .serveTable {
        grid-column: span 1/ span 1;
    }
}

@media (max-width:750px) {
    .unreturnedRow {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
    .serveTable {
        border-right: none;
    }
    .pieChartHeading {
       margin-top: 20px;
        border-top: 1px silver solid;
        padding: 10px;
        font-size: 30px;
        font-weight: 500;
    }
    .serveTable {
        font-size: 18px;
    }

    .pieChart {
        margin: 0px 100px;
        padding: 20px
    }

}

@media (max-width:600px) {
    .pieChart {
        margin: 0px 50px;
        padding: 20px
    }

}