@import "../../styles/responsive";
@import "../../styles/globalSass";

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap:20px;

    @include immediateDesktopShrink(){
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: auto;
    }

    @include headingShrink(){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.doughnutChartCol {
    margin: auto;
    padding: 0;
    width: 100%;
    grid-column: span 1 / span 1;

    @include immediateDesktopShrink(){
        padding: 10px;
        grid-column: span 1 / span 1;
    }

    @include headingShrink(){
        padding: 0;
        width: 70%;
    }

    @include statsPanelToOneCol(){
        width: 90%;
    }
}

.doughnutChart{
    margin-top: 10px;

    @include immediateDesktopShrink(){
        padding: 20px;
    }
}

.accuracy {
    grid-column: span 1 / span 1;
    padding: 0;
    margin: auto;
    width: 100%;

    @include immediateDesktopShrink(){
        grid-column: span 2 / span 2;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include headingShrink(){
        grid-column: span 1 / span 1;
    }

    @include statsPanelToOneCol(){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.pieHeader {
    @extend %center-text;
    font-size: $title-font-size;
    font-weight: $bold-headings;
    @include immediateDesktopShrink(){
        margin-top: 20px;
    }
}

.meter {
    margin: auto;
    @extend %center-text;
}

.accuracyMeterHeading {
    font-size: $title-font-size;
    font-weight: $bold-headings;
    @extend %center-text;
    padding: 8px;

    @include immediateDesktopShrink(){
        font-size: $response-text-font-size;
        border-bottom:1px solid $border-color;
        margin: 0 30px;
    }

    @include statsPanelToOneCol(){
        margin: 0 70px;
        font-size: $text-font-size;
    }
}

@media (max-width: 1200px) {
    .accuracyCol {
        grid-column: span 1 / span 1;
        width: 100%;
    }
}
