@import "../../styles/responsive";
@import "../../styles/globalSass";

.fullPage {
    width: 100%;
    padding-bottom: 20px;
}

.heading {
    font-size: 35px;
    font-weight: $bold-headings;
    padding: 20px 20px 0 30px;

    @include headingShrink(){
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding: 20px 20px 0 20px;
    }
}

.body {
    width: 96%;
    margin: auto;
    border: 2px solid silver;
    border-radius: 6px;
}

.percentagesRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 0;

    @include immediateDesktopShrink(){
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 30px;
    }


    @include statsPercentsOneCol(){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.percentagesCol {
    width: 95%;
    grid-column: span 1 / span 1;
    margin: 10px auto;
    border-right: solid 2px;
    border-color: $border-color;

    @include immediateDesktopShrink(){
        border-right: none;
        padding-top: 10px;
    }

    @include statsPercentsOneCol(){
        margin: 0 40px;
    }
}

.percentagesColLastCol {
    width: 100%;
    margin: 10px auto;
    grid-column: span 1 / span 1;

    @include immediateDesktopShrink(){
        border-right: none;
        padding-top: 10px;
    }

    @include statsPercentsOneCol(){
        margin: 0 40px;
    }
}

.percent {
    font-size: 30px;
    font-weight: $bold-text;
    display: flex;
    justify-content: center;
    margin: auto;

    @include statsPercentsOneCol(){
        padding-right: 80px;
    }
}

.rowHeading {
    margin: auto;
    font-size: 30px;
    font-weight: $bold-headings;
    padding: 20px 20px 0 20px;

    @include statsPercentsOneCol(){
        display: flex;
        justify-content: center;
        border-top: 1px solid;
        border-color: $border-color;
        padding: 10px;
    }
}

.percentagesHeading {
    font-size: $response-text-font-size;
    font-weight: $bold-headings;
    display: flex;
    justify-content: center;
    padding: 8px;

    @include immediateDesktopShrink(){
        border-bottom: solid 1px;
        border-color: $border-color;
        margin-right: 50px;
    }

    @include statsPercentsOneCol(){
            font-size: $text-font-size;
            margin-right: 130px;
    }
}

.meter {
    margin: auto;
    display: flex;
    justify-content: center;
}

.pieChart{
    @include desktopSmallScreen(){
        margin: 0px 50px;
        padding: 20px
    }
}