@import "../../styles/responsive";
@import "../../styles/globalSass";
@import "../../styles/mixin";
@import "../../styles/colors";


.row {
    @include grid($width: 100%, $rows: 3);
    column-gap: 0;

    @include immediateDesktopShrink(){
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: 0 30px;
    }
}

.returnCol {
    @include percentagesCol;
    border-right: solid 2px $border-color;
    padding: 0 50px;

    @include immediateDesktopShrink(){
        border-right: none;
        padding: 0;
    }

    @include headingShrink(){
        grid-column: span 2 / span 2;
        padding: 0 50px;
    }
}

.returnColLastCol {
   @extend %stats-col;
    border-right: none;

    @include immediateDesktopShrink(){
        grid-column: span 2/ span 2;
        display: flex;
        justify-content: center;
    }

    @include headingShrink(){
        justify-content: space-between;
        margin: 0 0 10px 20px;
    }

    @include singleCol(){
        @include grid($width: 90%, $rows: 1);
        column-gap: 0;
    }
}

.returnHeading, .missedReturnsHeading {
    @include header;
    padding: 8px;

    @include immediateDesktopShrink(){
        font-size: $response-text-font-size;
        border-bottom: solid 1px  $border-color;
    }
}

.meter {
    margin: auto;
    @extend %center-text;
}

.percent {
    font-size: 30px;
    font-weight: $text-font-size;
    @extend %center-text;
    margin: auto;
}

.numberMissed {
    font-size: 40px;
    font-weight: $bold-text;
    @extend %center-text;
    margin: auto;

    @include immediateDesktopShrink(){
        font-size: 30px;
    }

    @include headingShrink(){
        font-size: $title-font-size;
    }
}

.numberMissedCol{
    @include immediateDesktopShrink(){
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    @include headingShrink(){
        width: 100%;
        display: grid;
    }

    @include singleCol(){
        grid-column: span 1 / span 1;
        display: flex;
        justify-content: space-evenly;
    }
}


