@import "../../styles/responsive";
@import "../../styles/globalSass";
@import "../../styles/colors";

.btnContainer{
    display: flex;
    justify-content: end;
    margin-top: 20px;

    @include headingShrink(){
        justify-content: space-evenly;
    }
}

.saveBtn, .homeBtn{
    margin: 20px;
    height: 60px;
    color: $heading-btn-text;
}

.btnTitle{
    font-size: $text-font-size;
}