$panel-btn-font-size: 22px;

$bold-headings: 500;

$bold-text: 400;

$label-font-size: 18px;

$text-font-size: 20px;

$response-text-font-size: 18px;

$title-font-size: 25px;

%center-text {
  display: flex;
  justify-content: center;
  align-content: center;
}

%button-title{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: $panel-btn-font-size;
  font-weight: $bold-headings;
}

%stats-col{
  margin: auto;
  padding: 0;
  width: 100%;
  grid-column: span 1 / span 1;
}