.panelButton {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 450px;
    height: 200px;
}

.returnEmbeddedButton {
    width: 225px;
    height: 200px;
}

.panelRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.undo {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.undo:hover {
    background-color: rgb(238, 238, 238);
    border-color: rgb(238, 238, 238);
}

.panelTitle {
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

@media (max-width: 1200px) {
    .panelButton {
        width: 350px;
    }

    .returnEmbeddedButton {
        width: 175px;
    }

    .panelTitle {
        margin-right: 20px;
    }

}

@media (max-width: 1000px) {
    .panelButton {
        width: 250px;
    }

    .returnEmbeddedButton {
        width: 125px;
    }

    .returnButtonCol {
        column-span: 3;
        margin-right: 10px;
    }
}

@media (max-width: 800px) {
    .panelButton {
        width: 180px;
    }

    .returnEmbeddedButton {
        width: 90px;
    }

    .returnButtonCol {
        margin-right: 0;
    }

}


@media (max-width: 600px) {
    .undo {
        height: 60px;
        width: 60px;
    }

}